<html>  
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>


<style>
  /* CSS goes here. */
  .subunit {
      fill: none;
      stroke: #FFF;
      stroke-width: 1px;
  }
  text.subunit-label {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 300;
      text-anchor: middle;
      fill: #000;
  }
  .subunit-label {
      display: none;
  }
  .graticule {
      fill: none;
      stroke: #aaa;
      stroke-opacity: .5;
      stroke-width: .5px;
  }
  .container {
      /* float: left; */
      height: 45%;
      width: 50%;
  }
  .pie-chart {
      float: bottom;
  }
  .d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }
  .d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
  }
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
</style>

</head>


<body >
    <div class="container-fluid">
      <div class="row">
        <div class="dropdown">
            <select id="map2" onchange="ddChange()">
                <option value="Select Year">Select Year</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2009">2010</option>
                <option value="2009">2011</option>
                <option value="2009">2012</option>
                <option value="2009">2013</option>
                <option value="2009">2014</option>
                <option value="2009">2015</option>
            </select>
        </div>
      </div>
      </div>
        <div class="row">
          <div class="col-6" > 
                        <div id="world_map"></div>


        </div>
          <div class="col-6" style="background-color: green;"> <B>RADAR PLOT</B> <BR/> Pellentesque volutpat consequat dui vitae aliquet. Donec a enim sed urna iaculis fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris ornare elit vitae felis varius viverra. Suspendisse fermentum nisi enim, nec cursus est elementum et. Nunc euismod neque vel mi commodo, et tristique urna volutpat. Donec vitae elementum mauris. Cras sed dui iaculis, lacinia odio sit amet, fermentum enim. Quisque sit amet sodales mi, sed blandit lorem. Fusce neque est, fringilla at lectus quis, efficitur tempus lorem. Sed ac interdum eros, pellentesque elementum sapien. Aliquam finibus magna a elit facilisis tempor.
            Phasellus vestibulum elementum tortor, ac blandit eros dignissim in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tincidunt, purus molestie cursus interdum, lorem felis tempor metus, consectetur viverra sapien enim ultricies ipsum. Donec eu placerat urna, in congue nisl. Vivamus fermentum urna erat, et vulputate ligula vulputate vitae. Nullam vitae dolor sem. Sed sagittis tellus id diam aliquet, vitae tristique magna gravida. Cras imperdiet nisl et erat bibendum auctor. Maecenas vestibulum congue mi, sit amet volutpat nunc sollicitudin id. Curabitur consectetur quam mi, eget dictum eros rhoncus a. Nunc ut laoreet neque. Suspendisse finibus accumsan gravida. Ut et arcu ullamcorper nunc fringilla rhoncus sed ut risus.


        </div>
        </div>
        <div class="row">
          <div class="col-6" style="background-color: yellow;"> <B>SCATTER PLOT</B> <BR/>Curabitur in consectetur dui. Maecenas varius sapien nec scelerisque auctor. Integer quis quam velit. Sed pharetra mollis mollis. Phasellus vestibulum suscipit nisi, vel ultricies purus finibus ut. Curabitur tristique mi sit amet egestas lacinia. Etiam nec auctor felis. Mauris vitae nisl quis enim faucibus pharetra. Aenean sagittis, odio vel lacinia pulvinar, lectus turpis tincidunt erat, vel vulputate metus odio ac urna.

            Curabitur in consectetur dui. Maecenas varius sapien nec scelerisque auctor. Integer quis quam velit. Sed pharetra mollis mollis. Phasellus vestibulum suscipit nisi, vel ultricies purus finibus ut. Curabitur tristique mi sit amet egestas lacinia. Etiam nec auctor felis. Mauris vitae nisl quis enim faucibus pharetra. Aenean sagittis, odio vel lacinia pulvinar, lectus turpis tincidunt erat, vel vulputate metus odio ac urna.
            Phasellus vestibulum elementum tortor, ac blandit eros dignissim in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tincidunt, purus molestie cursus interdum, lorem felis tempor metus, consectetur viverra sapien enim ultricies ipsum. Donec eu placerat urna, in congue nisl. Vivamus fermentum urna erat, et vulputate ligula vulputate vitae. Nullam vitae dolor sem. Sed sagittis tellus id diam aliquet, vitae tristique magna gravida. Cras imperdiet nisl et erat bibendum auctor. Maecenas vestibulum congue mi, sit amet volutpat nunc sollicitudin id. Curabitur consectetur quam mi, eget dictum eros rhoncus a. Nunc ut laoreet neque. Suspendisse finibus accumsan gravida. Ut et arcu ullamcorper nunc fringilla rhoncus sed ut risus.


        </div>
          <div class="col-6" style="background-color: red;"> <B>PARALLEL COORD</B> <BR/>###Phasellus v
            Phasellus vestibulum elementum tortor, ac blandit eros dignissim in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tincidunt, purus molestie cursus interdum, lorem felis tempor metus, consectetur viverra sapien enim ultricies ipsum. Donec eu placerat urna, in congue nisl. Vivamus fermentum urna erat, et vulputate ligula vulputate vitae. Nullam vitae dolor sem. Sed sagittis tellus id diam aliquet, vitae tristique magna gravida. Cras imperdiet nisl et erat bibendum auctor. Maecenas vestibulum congue mi, sit amet volutpat nunc sollicitudin id. Curabitur consectetur quam mi, eget dictum eros rhoncus a. Nunc ut laoreet neque. Suspendisse finibus accumsan gravida. Ut et arcu ullamcorper nunc fringilla rhoncus sed ut risus.

            estibulum elementum tortor, ac blandit eros dignissim in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tincidunt, purus molestie cursus interdum, lorem felis tempor metus, consectetur viverra sapien enim ultricies ipsum. Donec eu placerat urna, in congue nisl. Vivamus fermentum urna erat, et vulputate ligula vulputate vitae. Nullam vitae dolor sem. Sed sagittis tellus id diam aliquet, vitae tristique magna gravida. Cras imperdiet nisl et erat bibendum auctor. Maecenas vestibulum congue mi, sit amet volutpat nunc sollicitudin id. Curabitur consectetur quam mi, eget dictum eros rhoncus a. Nunc ut laoreet neque. Suspendisse finibus accumsan gravida. Ut et arcu ullamcorper nunc fringilla rhoncus sed ut risus.

        </div>
        </div>
      </div>      
</body>
<script>  
  var data_map = {{ data | safe }}
  var worldjson_mapdata = {{ worldJSON | safe}}
  console.log(worldjson_mapdata)
  console.log(data_map)
</script>
<div id = "dropDown" onkeydown="IgnoreAlpha(event);"></div>
<div id="svg2" style="margin-top:50px; padding:2em"></div>
<script src = "{{ url_for('static', filename='mapselector.js')}}"></script>      
<script>
$(".dropdown years li a").click(function(){
  var selText = $(this).text();
  console.log( selText); 
});
</script>>
</html>