
<script>
    json_data = {{ data | safe }}
    data = JSON.parse(json_data.chart_data)

    console.log('data', data);
    console.log('data[0]', data[0])
    console.log('keys', Object.keys(data[0]));
    console.log('criteria', Object.keys(data[0])[1])

    var criteria = Object.keys(data[0])[1]
    var chart_title = 'Scatter Plot'

    var array = []
    for(var i=0; i< data.length; ++i){
        obj = {}
        obj.x = data[i]['Life expectancy '];
        obj.y = data[i][criteria];
        array.push(obj);
    }

    data = array;
    console.log('array data', data);

    var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 480 - margin.left - margin.right,
    height = 350 - margin.top - margin.bottom;
    d3.select('#scplt').remove();
    var xValue = function(d) { return d.x;}, xScale = d3.scale.linear().range([0, width]),
        xMap = function(d) { return xScale(xValue(d));}, xAxis = d3.svg.axis().scale(xScale).orient("bottom");
    var yValue = function(d) { return d.y;}, yScale = d3.scale.linear().range([height, 0]),
        yMap = function(d) { return yScale(yValue(d));}, yAxis = d3.svg.axis().scale(yScale).orient("left");
    var cValue = function(d) { return d.clusterid;}
    var color = d3.scale.category10();

    var svg = d3.select("#scatterplot").append("svg")
        .attr('id', 'scplt')
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    var tooltip = d3.select("body").append('div').style('position','absolute');
    xScale.domain([d3.min(data, xValue)-1, d3.max(data, xValue)+1]);
    yScale.domain([d3.min(data, yValue)-1, d3.max(data, yValue)+1]);
    svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .attr("class", "x_axis")
          .call(xAxis)
        .append("text")
          .attr("class", "label")
          .attr("y", -6)
          .attr("x", width)
          .text("Life Expectancy")
          .style("text-anchor", "end");

    svg.append("g")
          .attr("class", "y_axis")
          .call(yAxis)
        .append("text")
          .attr("class", "label")
          .attr("y", 6)
          .attr("transform", "rotate(-90)")
          .attr("dy", ".71em")
          .text(criteria)
          .style("text-anchor", "end");
    
    svg.selectAll(".dot")
          .data(data)
          .enter().append("circle")
          .attr("class", "dot")
          .attr("cx", xMap)
          .attr("r", 4)
          .attr("cy", yMap)
          .style("fill", function(d) { return color(cValue(d));})
    svg.append("text")
        .attr("x", (width / 2))
        .attr("y", 0 + (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .style("font-weight", "bold")
        // .text(chart_title);

</script>
